.search-bar {
  input {
    padding: 5px;
    font-size: 13px;
    text-align: center;
  }

  ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
    z-index: 10000;

    /* Scrollbar track */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 4px;
    }

    /* Scrollbar thumb */
    &::-webkit-scrollbar-thumb {
      background-color: #003d2f;
      border-radius: 4px;
      border: 2px solid #f0f0f0;
    }

    /* Optional: hover effect */
    &::-webkit-scrollbar-thumb:hover {
      background-color: #005c45;
    }

    li:not(:last-child) {
      border-bottom: 1px solid black;
    }

    li {
      padding: 5px 5px 10px 5px;

      span {
        text-transform: lowercase;
      }
    }
  }
}
