@use "/src/assets/styles/_breakpoints.scss" as *;

footer {
  background-color: #f3f5f7;
  color: #1e1e1e;
  padding: 60px 0;
  border-top: 1px solid #d9d9d9;

  h1 {
    text-align: center;
    font-feature-settings: "case" on;
    font-size: 13px;
    font-family: FiraGOLight;
  }
}
