@use "/src/assets/styles/_breakpoints.scss" as *;
@use "/src/assets/styles/fonts.scss" as *;
@use "/src/assets/styles/Section.scss" as *;
@use "/src/assets/styles/Children.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: FiraGOLight;
  font-weight: 500;
  background-color: #f4f4f7;
  overflow-x: hidden;
}

main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
